div{
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #1A181B;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #36008D;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #36008D;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.logo-menu{
    flex-basis: 20%;
}

.logo{
    width: 75%;
    padding-left: 5%;
    padding-top: 3%;
}

.menu-top{
    flex-basis: 80%;
    padding-top: 3%;
    padding-right: 3%;
    text-align: right;
}

.menu-top a:nth-child(n+0):nth-child(-n+6){
    border-right: 2px #1CCAD8 solid;
    padding-right: 1%;
}

.menu-top a {
    color: #36008D;
    text-decoration: none;
    font-family: 'Bebas Neue';
    padding-left: 1%;
    font-size: 20px;
}

.menu-top a:hover{
    color: #1CCAD8;
}

.button{
    text-align: right;
    margin-right: 3%;
}

.button2{
    background-color: #36008D;
    padding: 10px;
    border: 2px solid #36008D;
    border-radius: 7px;
    color: #F0E100;
    text-align: right;
}

.button2:hover {
    transform: scale(1.1);
}

.titulo{
    background-color: #F2F2F2;
    text-align: center;
    margin-top: 30px;
    padding-top: 0.2px;
    padding-bottom: 0.2px;
}

.libros{
    border: #36008D 3px solid;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 30px;
}

.tabla-titulos{
    font-family: 'Bebas Neue';
    color: #36008D;
    font-size: 20px;
}

table{
    border: #36008D 2px solid;
}

td {
    font-family: 'Roboto', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: #36008D 2px solid;
    border-right:#36008D 2px solid;;
}

button{
    border: 2px solid #36008D;
    color: #F0E100;
    border-radius: 5px;
    background: #36008D ;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Bebas Neue', sans-serif; 
}

.button-sesion{
    border: 3px solid #36008D;
    color: #F0E100;
    border-radius: 5px;
    background: #36008D ;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Bebas Neue';
    margin-top: 6px;
}

.agregar{
    flex-basis: 100%;
    text-align: center;
    margin-top: 20px;
}

.oculto { 
    display: none;
}

.nuevo-libro{
    border: #36008D 3px solid;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 12%;
    padding-top: 5px;
    padding-left: 2%;
    padding-bottom: 5px;
}

.titulo2{
    text-align: center;
    margin-top: 30px;
}

.crear-cuenta{
    text-align: center;
    padding-bottom: 20px;
}

.inputs{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 75%;
    background-color: #F2F2F2;
    border: 0px;
    color: #36008D;
    text-align: center;
}

.text-areas{
    border: #36008D 2px solid;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-morado{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #36008D;
}


.select{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    background-color: #F2F2F2;
    border: 0px;
    color: #36008D;
    text-align: center;
    margin-top: 5px;
}

.button-foto{
    text-align: center;
    text-decoration: none;
    border: 2px solid #36008D;
    color: #36008D;
    border-radius: 30px;
    background: #F2F2F2 ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.button-crear{
    border: 2px solid #36008D;
    color: #F0E100;
    border-radius: 5px;
    background: #36008D ;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

.button-crear:hover, .button-sesion:hover {
    transform: scale(1.1);
}

.footer{
    background-color: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    margin-top: 50px;
}

.footer h4{
    font-family: 'Roboto';
    font-weight: 700;
    color: #36008D;
    text-align: center;
    font-size: 14px;
    margin: 2px;
}

.derechos{
    font-family: 'Roboto';
    font-weight: 700;
    color: #1A181B;
    text-align: center;
    font-size: 10px;
    margin: 15px;
}

.logos-social{
    width: 35px;
    cursor: pointer;
}

.social{
    padding-top: 10px;
    padding-bottom: 15px;
    color: #36008D;
}
