div{
    box-sizing: border-box;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Bebas Neue', cursive;}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #505255;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

a{
    text-decoration: none;
}


.contenedor{
    display: flex;
    flex-wrap: wrap;
}

.logoMenu{
    flex-basis: 20%;
}

.logo{
        width: 180px;
        padding-left: 20px;
        padding-top: 10px;
        cursor: pointer;
}

.menu-top{
    flex-basis: 80%;
    padding-top: 3%;
    padding-right: 3%;
    text-align: right;
}

.menu-top a:nth-child(n+0):nth-child(-n+6){
    border-right: 2px #1CCAD8 solid;
    padding-right: 1%;
}

.menu-top a {
    color: #36008D;
    text-decoration: none;
    font-family: 'Bebas Neue';
    padding-left: 1%;
    font-size: 20px;
}

.menu-top a:hover{
    color: #1CCAD8;
}

.buttonDiv{
    flex-basis: 90%;
    text-align: right;
}

.button-search{
    border: 2px solid #36008D;
    color: #36008D;
    border-radius: 5px;
    background: #E2E0E5 ;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Bebas Neue';
    width: 15%;
}

.button{
    flex-basis: 8.5%;
    text-align: left;
    color: #36008D;
    margin-left: 0.5%;
}

.button2{
    background-color: #36008D;
    padding: 10px;
    border: 2px solid #36008D;
    border-radius: 7px;
    color: #F0E100;
}

.button3{
    background-color: #F0E100;
    padding: 10px;
    border: 2px solid #36008D;
    border-radius: 7px;
}

.button2:hover, .button3:hover {
    transform: scale(1.1);
}

.banner{
    background-image: url("../img/banner-home-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20%;
    padding-bottom: 15%;
    margin-top: 30px;
}

.mision{
    background-color: #36008D;
    padding-top: 5px;    
    padding-bottom: 5px;  
    color: white;  
}
.mision-flex{
    flex-basis: 20%;
    text-align: right;
    font-size: 35px;
}

.mision-flex2{
    flex-basis: 80%;
    text-align: left;
    padding-left: 15px;
    padding-top: 50px;
}

.vision{
    background-color: #1CCAD8;
    padding-top: 5px;    
    padding-bottom: 5px;  
    color: white;  
}
.vision-flex{
    flex-basis: 20%;
    text-align: right;
    font-size: 35px;
}

.vision-flex2{
    flex-basis: 80%;
    text-align: left;
    padding-left: 15px;
    padding-top: 50px;
}

.sobreNosotros{
    text-align: center;
    font-size: 40px;
}

.historia{
    flex-basis: 60%;
    padding-left: 35px;
    text-align: justify;
   
}

.imagen{
    flex-basis: 40%;
    padding-right: 35px;
    text-align: right;
}

.libreria{
    width: 95%;
    padding-top: 18px;
}

.logos-social{
    width: 35px;
    cursor: pointer;
}

.social{
    padding-top: 10px;
    padding-bottom: 15px;
    color: #36008D;
}

.footer{
    background-color: #F2F2F2;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
}
    
.footer h4{
    font-family: 'Roboto';
    font-weight: 700;
    color: #36008D;
    text-align: center;
    font-size: 14px;
    margin: 2px;
}
